

html, body {
    background: url(file:///Users/ilyasarif/Documents/Code%20Projects/Athan-App/Code/CSS/masjid_background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0; 
    height: 100%; 
}

.dim-background {
    background-color:rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: auto;
}

header {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight:900;
    letter-spacing: 4px;
}

.Time-Holder-Box {
    margin: auto;
    margin-bottom: 60px;
    width:400px;
    height: fit-content;
    border: 3px solid #000000;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
}


.Date {
    margin: auto;
    text-align: center;
    font-size: 33px;
    color: white;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.Time {
    margin: auto;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    font-family: digital-7;
    color: white;
    letter-spacing: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Flex-Container {
    margin: auto;
    margin-bottom: 40px;
    width: 90%;
    height: fit-content; 
    display: flex;
}

.Athan-Box {
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    height: fit-content;
    border-radius: 25px;
    overflow: hidden;
}

.Iqama-Box {
    margin-right: auto;
    margin-left: auto;
    background-color: hsla(0, 0%, 0%, 0.5);
    width: 30%;
    height: fit-content;
    border-radius: 25px;
    overflow: hidden;
}

.Widget-Container {
    width: 30%;
    border-radius: 25px;
    overflow: hidden;
}

.Title-Section {
    font-size: 50px;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

.Prayer-Section {
    color: white;
    padding: 15px;
    display: inline-block;
    width: 92.4%;
    margin-bottom: 20px;
}



.Prayer-Title {
    margin: auto;
    color: white;
    float: left;
    padding: 5px;
    font-weight: bold;
    font-size: 37px;

}


 .Prayer-Time {
    color: white;
    float: right;
    padding: 5px;
    padding-top: 10px;
    font-size: 37px;
    font-family: digital-7;
    font-weight: bold;
    text-align: right;
    letter-spacing: 3px;
}

.Next-Prayer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 43.5%;
    border-radius: 25px;
}

.Sect1-Prayer-Widget {
    color: white;
    width: fit-content;
    padding: 10px;
    overflow: hidden;
}

#prayerWidgetTitle {
    font-size: 30px;
}

#prayerName {
    font-size: 40px;
    font-weight: bold;
}

#prayerTime {
    font-size: 30px;
    font-weight: bold;
}

.Image-Carousel {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20.5%;
    height: 43.5%;
    border-radius: 25px;
    bottom: 0;
}
